@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Righteous&display=swap');

@import url(animate.min.css);
@import url(normalize.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

* {
     box-sizing: border-box !important;
}

html {
     scroll-behavior: smooth;
}

/* Genel Arka Plan ve Font Ayarları */
body {
     background-color: #343a40;
     color: #ffffff;
     font-family: 'Lato', sans-serif;
 }
 
 .navbar-nav{
     margin-left: auto;
 }
.navbar-nav .nav-link {
     margin-right: 15px; 
     font-size: 1.2rem; 
     
}

