{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}

<section class="banner_main">
   <div class="container">
      <div class="row d_flex">
         <div class=" col-xl-8 col-lg-8 col-md-8 col-12-9">
            <div class="text-bg">
               <h1>DAMLA<br> <span class="white1"> LAB</span></h1>
               <p>Lorem ipsum dolor sit amet.</p>
            </div>
         </div>
      </div>
   </div>
</section>
</div>
</header>
<!-- blog başlık kısmı -->
<div id="introduction" class="blog_main">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h2>INTRODUCTION</h2>
               <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt, fugit. </span>
            </div>
         </div>
      </div>
      <!-- ilk kısım -->
      <div class="row">
         <div class="col-md-12">
            <div class="our_two_box" style="margin: 20px 0;">
               <div class="row d_flex">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                     <div class="our_img">
                        <figure><img src="images/damla_lab.jpg" alt="DAMLA Lab" /></figure>
                     </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                     <div class="our_text_box" style="margin: 15px;">
                        <h3 class="awesome pa_wi">DAMLA Lab (Data Analysis and Machine Learning Application Research
                           Laboratory)</h3>
                        <p>
                           The DAMLA Lab, located within Istanbul University's Department of Physics, focuses on
                           research in data analysis and machine learning applications.
                           Our work spans experimental and phenomenological high energy physics, CMS Experiment
                           contributions, and interdisciplinary applications such as medical imaging.
                           We aim to bridge cutting-edge research in physics with modern computational techniques.
                        </p>
                        <p>
                           For more information, you can visit the original resources:<br>
                           <a href="https://fizik-fen.istanbul.edu.tr/tr/content/arastirma/veri-analizi-ve-makine-ogrenmesi-uygulamalari-laboratuvari-damla-lab"
                              target="_blank">
                              Turkish Version
                           </a> |
                           <a href="https://fizik-fen.istanbul.edu.tr/en/content/laboratory/data-analysis-and-machine-learning-application-(damla)-laboratory"
                              target="_blank">
                              English Version
                           </a>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- contact -->

{% endblock %}