{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}

<!-- position,theses,projects falan -->
<div id="positions" class="row"
style="background-color: #e0e0e0; padding: 20px; border-radius: 8px; margin: 20px 0;">
<div class="col-md-12">
   <div class="our_text_box">
      <h3 style="color: black; text-align: center;">Open Positions</h3>
      <p style="color: #555; margin-top: 20px;">
         Parçacık fiziği, veri analizi, makine öğrenmesi ve simülasyon konularına ilgisi olan öğrenciler,
         lisans ya da lisansüstü çalışmalarda yer almak üzere grubumuza katılabilirsiniz.
      </p>
      <p style="color: #555;">
         Grup çalışmalarına katılmak için programlamaya yeteneğinizin olması ve temel seviyede programlama
         dillerinin bilinmesi önerilir.
      </p>
   </div>
</div>
</div>

{% endblock %}