{% extends 'partials/_base.html' %}
{% load static %}
{% block content %}

<!-- research topics kısmı -->
<div class="row" style="margin: 20px 0;">
    <div id="research" class="col-md-12">
       <div class="our_two_box">
          <div class="row d_flex">
             <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="our_img">
                   <figure><img class="he_img" src="images/research_topics.jpg" alt="Research Topics"
                         style="width: 100%; height: auto;" /></figure>
                </div>
             </div>
             <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="our_text_box" style="margin: 15px;">
                   <h3 class="awesome withi_color" style="color: black;">Research Topics</h3>
                   <ul style="list-style-type: disc; padding-left: 20px;">
                      <li>Data Analysis</li>
                      <li>Experimental High Energy Physics</li>
                      <li>CMS Experiment</li>
                      <li>Phenomenological High Energy Physics</li>
                      <li>Application of Machine Learning</li>
                      <li>High Energy Physics</li>
                      <li>Medical Images</li>
                      <li>...</li>
                   </ul>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
{% endblock %}